body {
  margin: 0 auto;
  background-color: rgba(128, 128, 128, 0.39);
  padding-bottom: 10px;
}

.search-form {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #a3d0c3;
  display: flex;
  justify-content: center;
}

.search-form input {
  width: 400px;
  height: 42px;
  padding-left: 10px;
  border: 2px solid #7ba7ab;
  border-radius: 5px 0 0 5px;
  outline: none;
  background: #f9f0da;
  color: #4e4e4e;
}
.search-form button {
  width: 50px;
  height: auto;
  border: none;
  background: #7ba7ab;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.search-form button:before {
  content: '\1F50E';
  font-size: 24px;
}

.gallery {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.photo-card {
  border: 1px solid #a3d0c3;
  border-radius: 0 0 5px 5px;
  background-color: #f9f0da;
}
.gallery a {
  display: flex;
  overflow: hidden;
  width: 400px;
  height: 330px;
}

.gallery img {
  display: block;
  border: 1px solid #a3d0c3;
}

.info {
  margin: 5px;
}

.info b {
  color: #4e4e4e;
}

.info-item span {
  font-size: 25px;
}

.load-more {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 42px;
  border: none;
  background: #a3d0c3;
  border-radius: 5px;
  cursor: pointer;
  color: #4e4e4e;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
